POSTGRES_DB='POSTGRES_DB'
POSTGRES_USER='POSTGRES_USER'
POSTGRES_PASSWORD='POSTGRES_PASSWORD'
POSTGRES_PORT='POSTGRES_PORT'
or
SQLALCHEMY_DATABASE_URL=${DB_TYPE}+${DB_CONNECTOR}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}/${DB_NAME}
ALGORITHM='ALGORITHM'
SECRET_KEY='SECRET_KEY'
MAIL_USERNAME='email@example.com'
MAIL_PASSWORD='MAIL_PASSWORD'
MAIL_FROM='email@example.com'
MAIL_PORT='MAIL_PORT'
MAIL_SERVER='MAIL_SERVER'
APP_ENV="development" or "production"
DEBUG='True'
SIGNING_KEY='SIGNING_KEY' for additional sighning operations
SIGNING_KEY_VERIFICATION='False'
ALLOWED_REDIRECT_URLS='["https://redirect_url1.ua", "https://redirect_url2.ua"]'
RELOAD="True" (dev) or False (prod)
AUTHORIZATION_VIA_EMAIL='True/False'
AUTHORIZATION_VIA_GOOGLE='True/False'
AUTHORIZATION_VIA_FACEBOOK='True/False'
ETERNAL_ACCOUNTS='["enteryoureternalemail1@gmail.com", "enteryoureternalemail2@gmail.com"]'
ACCESS_TOKEN_EXPIRATION='4' in hours
REFRESH_TOKEN_EXPIRATION='168' in hours
ETERNAL_TOKEN_EXPIRATION='10000000' in hours

